body {
    background-color: rgb(163, 245, 218);
}

body>h1 {
    background-color: rgba(245, 245, 245, 0.549);
    text-align: center;
}

#main {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#main p{
    overflow: scroll;
    text-align: left;
    width: 500px;
    height: 300px;
    border: 5px solid orange;
    resize: both;
}
#main table{
    overflow: scroll;
    text-align: left;
    width: 400px;
    height: 300px;
    border: 5px solid orange;
    resize: both;
    overflow-y:scroll;
    display:block;
}

#main>div>h1 {
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: cadetblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}